{{ partial "head" . }}
<body>
    

    {{ partial "header" . }}
    
    <div class="site-wrapper">
        
        {{ partial "post-list" . }}
        {{ partial "pagination" . }}        
    
        {{ partial "footer" . }}
    </div>
    
    {{ partial "js" . }}
    
</body>
</html>