<header>	
	<div class="h-wrap">
	    <div class="backr">
		{{ with .Site.Title }}
		<a href="{{ $.Site.BaseURL }}" style="color:white;text-decoration: none;"><h1 id="title" class="baffle">ПОВОРОТЪ</h1></a>
		{{ end }}
		</div>
	</div>
</header>