<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/lunr.js"></script>
<script src="{{ .Site.BaseURL }}js/scrollreveal.min.js"></script>
<script type='application/javascript' src='{{ .Site.BaseURL }}js/smooth-scrollbar.js'></script>
<script src="{{ .Site.BaseURL }}js/baffle.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end}}

{{ template "_internal/google_analytics.html" . }}


{{ "<!-- Syntax highlighting -->" | safeHTML }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>