/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background: 0 0;
}

a:active,
a:hover {
    outline: 0;
}

button:focus {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.site-wrapper,
.off-canvas {
    transition: all .3s ease;
}

.h-wrap,
.menu-icon,
.off-canvas,
footer {
    padding: 2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font: "Source Code Pro", monospace;
    font-size: 1.25em;
    color: #FFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #272822;
}

body .single-wrap p {
    font-size: 0.95em;
}

@media (max-width:942px) {
    body .single-wrap p {
        font-size: 0.9em;
    }
}


h1,
h2,
h3,
.h-wrap h1.title,
.off-canvas .bio h1,
h4,
h5,
h6,
h5,
h6 {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 250%;
    margin: .5em 0;
}

h2 {
    font-size: 180%;
    margin: 1em 0 .5em;
}

h3,
.h-wrap h1.title,
.off-canvas .bio h1 {
    font-size: 150%;
    font-weight: lighter;
    margin: 1.5em 0 .5em;
}

@media (max-width:642px) {
    body .h-wrap {
        padding: 1em 0em;
    }
    body .h-wrap h1#title {
        font-size: 1em;
    }
    body .single-wrap h1.page-title {
        font-size: 1.5em;
    }
    body .single-wrap p {
        font-size: .875em;
    }
}

h4,
h5,
h6 {
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 3.5em 0 .5em;
    color: #999;
}

h5 {
    text-align: center;
}

h6 {
    text-align: right;
}

p {
    margin: 1.3em 0;
    line-height: 1.6;
}

small {
    font-size: 60%
}

ul li {
    list-style-type: circle;
}

ol li {
    list-style-type: decimal;
}

a:hover {
    color: #333;
}

@font-face {
    font-family: icomoon;
    src: url(/fonts/icomoon.eot);
    src: url(/fonts/icomoon.eot?#iefix) format("embedded-opentype"), url(/fonts/icomoon.woff) format("woff"), url(/fonts/icomoon.ttf) format("truetype"), url(/fonts/icomoon.svg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}

.icon-twitter,
.icon-github,
.icon-dribbble,
.icon-instagram {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
    content: "\e002";
}

.icon-github:before {
    content: "\e003";
}

.icon-dribbble:before {
    content: "\e004";
}

.icon-instagram:before {
    content: "\e005";
}

.highlight {
    border: 1px solid #e0e1e6;
    border-radius: 3px;
    padding: 1em;
    background-color: #fafafa;
    font-size: 80%;
    margin: 2em auto;
    overflow: scroll;
    color: gray;
}

code {
    font-family: Courier, monospace;
    font-size: 100%;
    line-height: 1.5;
}

.highlight .c {
    color: #586e75;
}

.highlight .err {
    color: #93a1a1;
}

.highlight .g {
    color: #93a1a1;
}

.highlight .k {
    color: #859900;
}

.highlight .l {
    color: #93a1a1;
}

.highlight .n {
    color: #93a1a1;
}

.highlight .o {
    color: #859900;
}

.highlight .x {
    color: #cb4b16;
}

.highlight .p {
    color: #93a1a1;
}

.highlight .cm {
    color: #586e75;
}

.highlight .cp {
    color: #859900;
}

.highlight .c1 {
    color: #586e75;
}

.highlight .cs {
    color: #859900;
}

.highlight .gd {
    color: #2aa198;
}

.highlight .ge {
    color: #93A1A1;
    font-style: italic;
}

.highlight .gr {
    color: #dc322f;
}

.highlight .gh {
    color: #cb4b16;
}

.highlight .gi {
    color: #859900;
}

.highlight .go {
    color: #93a1a1;
}

.highlight .gp {
    color: #93a1a1;
}

.highlight .gs {
    color: #93A1A1;
    font-weight: 700;
}

.highlight .gu {
    color: #cb4b16;
}

.highlight .gt {
    color: #93a1a1;
}

.highlight .kc {
    color: #cb4b16;
}

.highlight .kd {
    color: #268bd2;
}

.highlight .kn {
    color: #859900;
}

.highlight .kp {
    color: #859900;
}

.highlight .kr {
    color: #268bd2;
}

.highlight .kt {
    color: #dc322f;
}

.highlight .ld {
    color: #93a1a1;
}

.highlight .m {
    color: #2aa198;
}

.highlight .s {
    color: #2aa198;
}

.highlight .na {
    color: #93a1a1;
}

.highlight .nb {
    color: #b58900;
}

.highlight .nc {
    color: #268bd2;
}

.highlight .no {
    color: #cb4b16;
}

.highlight .nd {
    color: #268bd2;
}

.highlight .ni {
    color: #cb4b16;
}

.highlight .ne {
    color: #cb4b16;
}

.highlight .nf {
    color: #268bd2;
}

.highlight .nl {
    color: #93a1a1;
}

.highlight .nn {
    color: #93a1a1;
}

.highlight .nx {
    color: #555;
}

.highlight .py {
    color: #93a1a1;
}

.highlight .nt {
    color: #268bd2;
}

.highlight .nv {
    color: #268bd2;
}

.highlight .ow {
    color: #859900;
}

.highlight .w {
    color: #93a1a1;
}

.highlight .mf {
    color: #2aa198;
}

.highlight .mh {
    color: #2aa198;
}

.highlight .mi {
    color: #2aa198;
}

.highlight .mo {
    color: #2aa198;
}

.highlight .sb {
    color: #586e75;
}

.highlight .sc {
    color: #2aa198;
}

.highlight .sd {
    color: #93a1a1;
}

.highlight .s2 {
    color: #2aa198;
}

.highlight .se {
    color: #cb4b16;
}

.highlight .sh {
    color: #93a1a1;
}

.highlight .si {
    color: #2aa198;
}

.highlight .sx {
    color: #2aa198;
}

.highlight .sr {
    color: #dc322f;
}

.highlight .s1 {
    color: #2aa198;
}

.highlight .ss {
    color: #2aa198;
}

.highlight .bp {
    color: #268bd2;
}

.highlight .vc {
    color: #268bd2;
}

.highlight .vg {
    color: #268bd2;
}

.highlight .vi {
    color: #268bd2;
}

.highlight .il {
    color: #2aa198;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.h-wrap h1#title {    
    font-family: 'Old Standart', serif;
    font-size: 1.2em;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #FFF;
}

.h-wrap h1.title a {
    color: #333;
    background: #f8f8ed;
    padding: 0.6em 0.8em;
    z-index: 999;
    text-decoration: none;
}

.backr {
    width:160px;
    color: #333;
    background: #000;
    padding: 0.6em 0.8em;
    z-index: 999;
    text-decoration: none;
}

.h-wrap h1.title a:hover {
    color: #FFF;
    background: #000;
}

.h-wrap h1.title a:active {
    filter: blur(1px);
}

.menu-icon {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 9999;
}

.menu-icon:hover {
    opacity: 1;
}

.menu-icon .lines {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 2px;
    background: #C1BFC1;
    border-radius: 20px;
}

.menu-icon .lines::before,
.menu-icon .lines::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    background: #C1BFC1;
    border-radius: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.menu-icon .lines::before {
    top: 8px;
}

.menu-icon .lines::after {
    top: -8px;
}

.menu-icon .lines.toggled {
    background: 0 0;
}

.menu-icon .lines.toggled::before {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menu-icon .lines.toggled::after {
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 642px) {
    .menu-icon {
        padding: 16px 24px;
    }
}

.site-wrapper {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.site-wrapper.open .menu-icon {
    position: fixed;
}

.close .lines {
    -webkit-transition: background .3s 0s ease;
    transition: background .3s 0s ease;
    background: 0 0;    
}

.close .lines::before,
.close .lines::after {
    background: #b3b3b3;
    top: 0;
    width: 30px;
    -webkit-transition: top .3s ease, transform .3s .5s ease;
    transition: top .3s ease, transform .3s .5s ease;
}

.close .lines::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0;
}

.close .lines::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 0;
}

.off-canvas {
    font-family: 'Source Code Pro', monospace;    
    position: fixed;
    top: 0;
    right: -25em;
    width: 25em;
    height: 100%;
    background: #ECECEC;
    z-index: 1000;
    overflow: scroll;
}

.off-canvas a.email, .off-canvas a.rss {
    text-decoration: none;
    color: #F92672;
}

.off-canvas.toggled {
    right: 0;
    border-left: 1px solid #e0e1e6;
}

.off-canvas .avatar {
    display: block;
    margin-bottom: 1em;
}

.off-canvas .avatar img {
    width: 4em;
    height: 4em;
    /*border-radius: 50%;*/
}

.off-canvas .key_img {
    width: 28px;
    height: auto;
    opacity: 0.4;
}

.off-canvas .key_img:hover {
    opacity: 0.8;
}

.off-canvas .bio {
    display: block;
}

.off-canvas .bio h1 {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: #000;
}

.off-canvas .bio p {
    font-family: 'Source Code Pro', monospace;
    font-size: 90%;
    line-height: 1.5;
    color: gray;
    margin-bottom: 0;
}

.off-canvas .bio p.bio2 {
    margin-top: 0px;
}

.off-canvas nav h6 {
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #b3b3b3;
    padding-bottom: .5em;
    border-bottom: 1px solid gray;
}

.off-canvas nav ul li {
    list-style-type: none;
    margin-bottom: .5em;
    color: #000;
}

@media screen and (max-width: 375px) {
    .off-canvas nav ul li {
        font-size: .8em;
    }
}

.off-canvas nav ul li a {
    text-decoration: none;
}

.off-canvas a.email:hover, .off-canvas a.rss:hover {
    color: #FFF;
    background: #000;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-input {
    background: none;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    color: #000;
    font-size: 0.9em;
    height: 1.8em;
    padding: 0.3em 0.2em 0.2em 0.4em;
    border: 1px solid gray;
    background-image: url(../icons/magnifier.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 
    text-indent: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.search-input:focus, .search-input[type="text"]:valid {
    outline: none;
    background-position: -30px center;
    text-indent: 0;   
    width: 18em; 
}

.search-submit {    
    height: 1.8em;
    position: absolute;
    margin-left: .3em;
    font-size: 0.9em;
    width: 5em;
    color: #000;
    background: #b0b0b0;    
    border: 1px solid #b0b0b0;
    border-radius: 0;
    font-family: 'Source Code Pro', monospace;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

@media screen and (min-width: 26em) {
    .search-submit {
        opacity: 0;
    }
}

.search-input:focus~.search-submit, .search-input[type="text"]:valid~.search-submit {
    opacity: 1;
}

.search-submit:active {
    color: #b0b0b0;
    background: none;
}

.search-submit:focus {
    outline: 0;
}

@media (max-width:26em) {
    .off-canvas {
        max-width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .search-input {
        max-width: 50vw;
    }
    .search-submit {
        max-width: 23vw;
    }
}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer small {
    text-transform: uppercase;
}

 .test {
    overflow: hidden; 
    margin-top: 90px;
} 

 .test li {
    display: table;
} 

li:first-child {
    margin-top: 2.5em;
} 

li .p-wrap {
    padding: .1em 2em;
    line-height: 1.5em;
    transition: all .15s ease-in;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; 
} 

@media screen and (max-width: 414px) {
    li .p-wrap {
        padding: .2em 3em .8em 1.5em;        
        font-size: 0.9em;
        line-height: 1em;
    }
} 

li .p-wrap:active {
    filter: blur(1px);
    opacity: 0.5;
}

@media screen and (min-width: 414px) {    
    li .p-wrap:hover {
        padding-left: 3.2em;
        font-family: 'Source Code Pro', monospace;
    }
}

/*.posts li .p-wrap:hover::after {
    content: '\2192';
    margin-left: .5em
}*/

 @media (max-width:942px) {
    li .p-wrap:hover::after {
        content: none; 
        margin: 0;
    }
} 

li .p-wrap p {
    display: inline;
    font-size: .9em;
    margin: .5em 0 0;
}

 .test li a {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    text-decoration: none;
} 

li time {
    font-family: 'Source Code Pro', monospace;
    padding-right: 0.7em;
    font-size: 0.8em;
}

li a .p-wrap p .title-attr {    
    color: #F92672 !important;
}

li a .p-attr {
    color: #F92672 !important;
}

li a .class-attr {
    color: #A6E22E !important;
}

li a .date-attr {
    color: #E6DB74 !important;
}

@media screen and (max-width: 642px) {
    li time {
        padding-right: .1em;
    }
}

.single-wrap {
    color: #000;
    width: 100%;
    max-width: 780px;
    margin: 1em auto;
    font-family: 'PT Serif', serif;
    background: #f8f8ed;
    z-index: 1;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: 'liga', 'clig';
    font-feature-settings: 'liga', 'clig';
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; 
}

.single-wrap .single-content {
    padding: 0 2em;
}

.big-first-letter {
    font-family: 'PT Serif', serif;
    font-size: 6em;
    line-height: .9em;
    float: left;
    padding-bottom: 0em;
    padding-right: .1em;
    margin-right: 0em;
    margin-bottom: -0.3em;
}

.big-first-letter-Q {
    font-family: serif;
    font-style: italic;
    font-size: 6em;
    line-height: .9em;
    float: left;
    padding-bottom: 0em;
    padding-right: .1em;
    margin-right: 0.05em;
    margin-bottom: 0em;
}

.big-first-letter-J {
    font-family: serif;
    font-size: 7em;
    line-height: .85em;
    float: left;
    padding-bottom: 0em;
    padding-right: .1em;
    margin-right: 0em;
    margin-bottom: 0em;
}


@media (max-width:642px) {
    .single-wrap .single-content {
        padding: 0em 1.4em 3.5em 1.4em;
    }
}

.single-wrap .feat {
    text-align: center;
    border-bottom: 1px dotted #e0e1e6;
    margin: 0 auto 3.5em;
}

.single-wrap .feat a.popup {
    display: inline-block;
    position: relative;
    top: .7em;
    background: #f8f8ed;
    font-size: 130%;
    text-align: center;
    text-decoration: none;
    padding: 0 1em;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

@media (max-width:642px) {
    .single-wrap .feat a.popup {
        font-size: 150%;
    }
}

.single-wrap .page-date {
    display: inline-block;
    position: relative;
    top: 1.1em;
    background: #f8f8ed;
    font-family: 'Source Code Pro', monospace;
    font-size: 85%;
    text-align: center;
    font-weight: 400;
    padding: 0 1em;
    text-transform: none;
    letter-spacing: 1px;
}

.single-wrap .share {
    margin: 3.5em auto;
}

.single-wrap h1.page-title {
    font-size: 220%;
    line-height: 135%;
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin: 0 0 0 0;
}

.single-wrap h1, .single-wrap h2, .single-wrap h3 {
    font-family: 'Open Sans', monospace;
}

.single-wrap em {
    font-family: 'Source Code Pro', monospace;
}

.single-wrap ul,
.single-wrap ol {
    margin: 2em 0;
}

.single-wrap ul li,
.single-wrap ol li {
    margin-bottom: .5em;
}

.single-wrap blockquote {
    font-size: 150%;
    font-family: 'Source Code Pro', monospace;
    background: rgba(0,0,0,0.4);
    font-weight: lighter;
    color: #FFF;
    border-left: 4px solid rgba(231, 82, 84, 0.7);
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: -3.5em;
    margin-right: 0;
    line-height: 165%;
}

@media (max-width:942px) {
    .single-wrap blockquote {
        margin-left: 0;
    }
}

.single-wrap blockquote p {
    padding-left: 0!important;
    padding-right: 0!important;
}

.single-wrap img {
    width: 100%;
    height: 100%;
}

#prev,
#next {
    font-size: 0.9em;
    position: fixed;
    text-decoration: none;
    background: #f8f8ed;
    /*border: 1px solid #3b3b3b;*/
    padding: 10px;
    line-height: 1;
    border-radius: 25px;    
    bottom: 30px;
    color: #333;
}


#prev:hover,
#next:hover {
    border-radius: 0px;
    border: 2px solid #3b3b3b;
}

#prev {
    right: 30px;
}

#next {
    left: 30px;
}

@media screen and (max-width: 642px) {
    #prev,
    #next {
        bottom: 4px;
    }
    #prev {
        right: 10px;
    }
    #next {
        left: 10px;
    }
}

#prev:active,
#next:active {
    color: rgba(187, 189, 187, 0.8);
    border-color: rgba(187, 189, 187, 0.8);
    filter: blur(1px);
}

.nav-title {
    display: none;
}

.nav-title-prev,
.nav-title-next {
    font-family: 'Source Code Pro', monospace;
}

.nav-title-prev {
    margin-left: 10px;
    margin-right: 5px;
}

.nav-title-next {
    margin-right: 10px;
    margin-left: 5px;
}

#prev:hover .nav-title,
#next:hover .nav-title {
    display: inline;
}

.pagination {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    overflow: hidden;
    margin-top: 40px;
    color: #ccc;
    text-align: center;
}

.pagination a {
    color: #828282;
}

.pagination a,
.pagination span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 14px;
    opacity: 0.8;
    text-decoration: none;
}

.pagination a:first-child,
.pagination span:first-child {
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: none;
    color: #272822;
    background-color: #d7d7d7;
}