{{ partial "header.html" . }}
 
    {{ .Content }}
 
    <h3>Search:</h3>
    <input id="search" type="text" id="searchbox" placeholder="Just start typing...">
 
    <h3>Results:</h3>
    <ul id="results"></ul>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lunr.js"></script>
    <script type="text/javascript">
    var lunrIndex, $results, pagesIndex;
 
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
 
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
 
            if (pair[0] === variable) {
                return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
            }
        }
    }
 
    var searchTerm = getQueryVariable('query');
 
    // Initialize lunrjs using our generated index file
    function initLunr() {
        // First retrieve the index file
        $.getJSON("/index.json")
            .done(function(index) {
                pagesIndex = index;
                console.log("index:", pagesIndex);
                lunrIndex = lunr(function() {
                    this.field("title", { boost: 10 });
                    this.field("tags", { boost: 5 });
                    this.field("categories", { boost: 5 });
                    this.field("content");
                    this.ref("uri");
 
                    pagesIndex.forEach(function (page) {
                        this.add(page)
                    }, this)
                });
            })
            .fail(function(jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.error("Error getting Hugo index flie:", err);
            });
    }
 
    // Nothing crazy here, just hook up a listener on the input field
    function initUI() {
        $results = $("#results");
        $("#search").keyup(function() {
            $results.empty();
 
            // Only trigger a search when 2 chars. at least have been provided
            var query = $(this).val();
            if (query.length < 2) {
                return;
            }
 
            var results = search(query);
 
            renderResults(results);
        });
    }
 
    /**
     * Trigger a search in lunr and transform the result
     *
     * @param  {String} query
     * @return {Array}  results
     */
    function search(query) {
        return lunrIndex.search(query).map(function(result) {
                return pagesIndex.filter(function(page) {
                    return page.uri === result.ref;
                })[0];
            });
    }
 
    /**
     * Display the 10 first results
     *
     * @param  {Array} results to display
     */
    function renderResults(results) {
        if (!results.length) {
            return;
        }
 
        // Only show the ten first results
        results.slice(0, 100).forEach(function(result) {
            var $result = $("<li>");
            $result.append($("<a>", {
                href: result.uri,
                text: "» " + result.title
            }));
            $results.append($result);
        });
    }
 
    // Let's get started
    initLunr();
 
    $(document).ready(function() {
        initUI();
    });
    </script>
{{ partial "footer.html" . }}